@tailwind base;
@tailwind components;
@tailwind utilities;

.lister-button {
    @apply
    rounded-md
    bg-[#0A558C]
    px-3.5 py-2.5
    text-sm
    font-semibold
    text-white
    shadow-sm
    transition-colors
    hover:bg-[#003E6B]
    focus-visible:outline
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-[#0A558C]
}

.lister-icon-button {
    @apply
    my-4
    flex
    h-10
    w-10
    items-center
    justify-center
    rounded-full
    text-gray-600
    transition-colors
    hover:bg-gray-100
}