@page
@model Lister.Users.Presentation.Pages.Account.ForgotPasswordConfirmationModel;

@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Pages/Shared/_UsersLayout.cshtml";
}

<div class="flex flex-col h-full py-12 sm:px-6">
    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="px-4 py-8 bg-white shadow-md sm:rounded-lg sm:px-10">
            Check your inbox for an email to finish resetting your password.
            <a asp-page="Login"
               asp-route-returnUrl="@Model.ReturnUrl"
               class="font-medium text-[#0A558C] hover:text-[#003E6B]">
                Click here
            </a>
            to return to the login page.
        </div>
    </div>
</div>